.awesection1 {
    position: relative;
    background-image: url('../../assets/img/bluer.png');
    background-color: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover, contain;
}

.border-inpicture {
    border: 3px solid rgb(145, 144, 144);
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

.border-inpicture-1 {
    border: 3px solid rgb(145, 144, 144);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: 50px;
}

.border-inpicture-2 {
    border: 3px solid rgb(145, 144, 144);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-left: 50px;
}