{
    "arrowParens": "always",
    "semi": true,
    "trailingComa": "none",
    "tabwidth": 2,
    "endofline": "auto",
    "useTabs": false,
    "singleQuote": true,
    "printwidth": 120,
    "jsxSingleQuote": true
}