# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DATN\DU-AN-TOT-NGHIEP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
